<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SCPI.Properties.Settings>
            <setting name="IP1" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="IP2" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="IP3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IP4" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Extension" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Invert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>192.168.1.250</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </SCPI.Properties.Settings>
    </userSettings>
</configuration>